<connectionStrings>
    <add name="SalesEntities" connectionString="metadata=res://*/Models.TalentProjectOnboarding.csdl|res://*/Models.TalentProjectOnboarding.ssdl|res://*/Models.TalentProjectOnboarding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-PARAM;initial catalog=Sales;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>